/* Сделать скругленные края 

Убрать проблем между фото и описанием */

.elements__box {
    margin: 0;
    border-radius: 10px;
    object-fit: contain;
}

@media screen and (max-width: 879px)  {
    .elements__box {
        margin-bottom: 18px;
    }

    .elements__box:last-child {
        margin-bottom: 0;
    }
}