.profile__general {
    display: flex;
    margin: 0;
    align-items: baseline;
}

@media screen and (max-width: 879px) {
    .profile__general {
        display: block;
        position: relative;
    }
}