.footer {
    margin: 66px auto 60px;
    max-width: calc(100% - 400px);
    width: 100%;
}

@media screen and (max-width: 1039px) {
    .footer {
        max-width: 860px;
    }
}

@media screen and (max-width: 879px) {
    .footer {
        max-width: calc(320px - 38px);
        margin: 52px auto 36px;
    }
}

